<a href="/shelters">Shelter Index</a> || <a href="/">Home</a> </br></br>

<h1>Editing Shelter</h1>

<%= render 'form', shelter: @shelter %>

<%= link_to 'Show', @shelter %> |
<%= link_to 'Back', shelters_path %>
