<a href="/">Home</a> || <a href="/shelters">Shelter Index</a> || <a href="/pets">Pet Index</a> 

<h1>Editing Shelter</h1>

<%= render 'form', shelter: @shelter %>

<%= link_to 'Show', @shelter %> |
<%= link_to 'Back', shelters_path %>
