<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new shelter:</p>
  <input type='text' name='shelter[title]'/><br/>
  <textarea name='shelter[description]'></textarea><br/>
  <input type='submit'/>
</form>
